/*
This file is an external stylesheet named style.css
 */
body {
    background-color: aliceblue;
    background-image: url("../img/mountain.jpeg");
    background-size: 500px 500px;
}

h1.fancy-header{
    text-align: center;
    color: mediumpurple;
    text-decoration: underline;
    font-family: 'Lobster', cursive;
}

#Top {
    text-align: center;
    color: purple;
}

h2 {
    color:lightskyblue;
    text-decoration: underline;
    font-family: 'Prompt', sans-serif;
}

ol {
    list-style: upper-roman;
    background-color: lawngreen;
}

ul {
    list-style: square;
    background-color: darkblue;
    color: white;
}

li {
    padding: 5px;
    font-family: 'Pathway Gothic One', sans-serif;
}

table {
    table-layout: fixed;
    width: 50%;
    background-color: lightgrey;
    border: 1px black;
}

th {
    padding-bottom: 10px;
    color: blue;
    font-family: 'Prompt', sans-serif;
    border: 1px black;
}

td {
    padding-left: 100px;
    font-family:'Pathway Gothic One', sans-serif;
    border: 1px black;

}

.better {
    font-size: large;
}

.best {
    font-size: x-large;
    font-family: 'Lobster', cursive;
}

a:link {
    color: lightskyblue;
}

a:visited {
    color: white;
}

a:hover {
    color: red;
}

a:active {
    color: green;
}

.top-nav {
    background: var(--light-bg);
    position: fixed;
    z-index: 100;
    width: 100%;
}
.nav {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.nav-link {
    color: var(--main-link-color);
    font-weight: bold;
    text-decoration: none;
}

.nav-item {
    display: inline-block;
    padding: 0 1em 0 1em;
}

#small{
    color: white;
}

#first {
    background-image: url("../img/server.jpeg");
}

#second {
    background-image: url("../img/view.jpeg");
}

#third {
    background-image: url("../img/stuff.jpeg");
    background-size: 300px 200px;
}